doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='../images/favicon.png' type='image/png')
  body
    header
      span#toyhana тойхана
      span#restname Меруерт
      span#bankethall банкетный зал
    block content
    footer
      span#address г.Костанай, ул.Текстильщиков 9 
      a#home(href="/") На главную 
      a#phone(href="tel:871426669997") 📞
